NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_API_BASE_URL=http://localhost:3000


# CYBERIZE SUPABASE FULL RLS (qrproject@cyberizegroup.com)
# PROJECT NAME: CyberPharma_Dev_v1
NEXT_PUBLIC_SUPABASE_URL=https://yrsu******gydb.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_8FvPL**********oDk1S
SUPABASE_SECRET_KEY=sb_secret_B3Hu***************************cg_Yv7z1eRR

# STRIPE INFO
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_51TQM*******KYzvBMt007TjvYeUY

STRIPE_SECRET_KEY=sk_test_51TQMViGxA*************XM9ivkqG5p7TU00NBAMojF3

STRIPE_PRICE_STARTER=price_1TQNfb*hCNK1obQSqJqH
STRIPE_PRICE_PRO=price_1TQNj**********1ku1Qi9bR
STRIPE_PRICE_ENTERPRISE=price_1TQN**NK1WsSpXtri

STRIPE_WEBHOOK_SECRET=whsec_5fc922919e3543fee41****ae967890f846c7305b610
